<div class="row">
    <div class="col-xs-12">
        <ul >
            <li>rotation_period: {{planets.rotation_period}}</li>
            <li>orbital_period: {{planets.orbital_period}}</li>
            <li>diameter: {{planets.diameter}}</li>
            <li>climate: {{planets.climate}}</li>
            <li>gravity: {{planets.gravity}}</li>
            <li>terrain: {{planets.terrain}}</li>
            <li>surface_water: {{planets.surface_water}}</li>
            <li>population: {{planets.population}}</li>
            <li>residents: {{planets.residents}}</li>
            <li>films: {{planets.films}}</li>
            <li>created: {{planets.created}}</li>
            <li>edited: {{planets.edited}}</li>
            <li>url: {{planets.url}}</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group " appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle"> Manage Planet Info</button>
            <ul class="dropdown-menu" appDropdown>
                <li><a href="#">Add info</a></li>
                <li><a href="#">Edit Info</a></li>
                <li><a href="#">Delete planet</a></li>
            </ul>
        </div>
    </div>
</div>
